@media (max-width: 1000px) {
    .main-list {
        flex-wrap: wrap;
    }
    .main-list div {
        width: 50%;
    }
    .photo {
        width: 50%;
    }
    .photo img {
        margin-top: 30px;
    }
    .introduction {
        padding-left: 10px;
        width: 50%;
    }
    .text h1 {
        width: 230px;
    }
    .text h2 {
        width: 230px;
    }
    .text p {
        width: 230px;
        padding-bottom: 30px;
    }
    .btn-contact {
        margin-left: 40px;
    }
}

@media (max-width: 490px) {
    .header-left {
        width: 100%;
        padding: 0;
    }
    .header-left h1 {
        text-align: center;
    }
    .header-right {
        display: none;
    }
    main{
        padding-top: 0;
    }
    .main-list {
        flex-direction: column;
    }
    .photo {
        padding: 0 0;
        margin: 0 auto;
    }
    .introduction {
        padding: 10px 0;
        margin: 0 auto;
    }
    .text {
        padding-top: 10px;
        padding-left: 18px;
    }
    .text h1 {
        font-size: 40px;
        word-spacing: 11px;
    }
    .text h2 {
        font-size: 12.2px;
    }
    .text p {
        font-size: 15px;
        width: 170px;
        word-wrap: break-word;
    }
    .btn-contact {
        margin-left: 26px;
    }

    footer {
        display: flex;
        height: auto;
        margin: 0;
        position: absolute;
    }
    .footer-left {
        display: none;
    }
    .footer-right {
        margin: auto;
    }
    .footer-right li {
        margin: 20px;
    }
}