* {
    box-sizing: border-box;
  }

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
    list-style: none;
}
  
a {
    text-decoration: none;
}

html, body{
    height: 100%;
    margin: 0;
}

header {
    color: rgb(94, 94, 94);
    background: rgb(247, 242, 242);
    width: 100%;
    height: 66px;
}

.header-left {
    float: left;
    padding-left: 30px;
}

.header-left h1 {
    padding: 9px 15px;
}

.header-right {
    float: right;
    margin: 22px 50px;
}

ul {
    display: flex;
}

.header-right li {
    list-style: none;
    margin-left: 20px;
}

.header-right a {
    color: rgb(94, 94, 94);
    font-size: 20px;
}

footer {
    width: 100%;
    height: 100px;
    color: rgb(94, 94, 94);
    background: rgb(247, 242, 242);
    margin-bottom: 100%;
}
/* footer {
    background-color: rgb(94, 94, 94);
    width: 100%;
    height: 100px;
    color:rgb(255, 255, 255);
    margin-bottom: 100%;
} */

.footer-left {
    float: left;
    margin: 20px 45px;
}

.footer-left p {
    font-size: 10px;
    width: 100%;
    font-weight: bold;
}

.footer-right {
    float: right;
    margin: 50px 45px 0 0;
    line-height: 1.5;
}

.footer-right li {
    list-style: none;
    margin-left: 30px;
}

.footer-right a {
    color: rgb(94, 94, 94);
    display: block;
}

.footer-right span {
    padding-right: 3px;
}

.twitter:hover {
    color: rgb(102, 176, 233);
}

.qitta:hover {
    color: rgb(135, 182, 109);
}

.github:hover {
    color:rgb(234, 126, 109);
}

main {
    width: 100%;
    padding:50px 0;
    background: rgb(239, 233, 226);
    /* background: rgb(232, 224, 224); */
}

.photo {
    width: 30%;
    padding-left: 45px;
    padding-right: 45px;
    cursor: pointer;
    position: relative;
}

.photo img {
    float: left;
    width: 100%;
    border-radius: 50%;
}

.photo:hover::before {
    content: 'Please click me !';
    color: rgb(94, 94, 94);
    font-weight: bold;
    background-color: white;
    border-radius: 4px;
    padding: 3px;
    opacity: 0.6;
    position: absolute;
    top: 50px;
    left: 118px;
}

.introduction {
    padding-top: 20px;
    width: 70%;
}

.text {
    margin-bottom: 10px;
}

.text h1 {
    color: rgb(94, 94, 94);
    font-size: 42px;
    word-spacing: 40px;
}

.text h2 {
    color: rgb(94, 94, 94);
    font-size: 17px;  
}

.text p {
    font-size: 16px;
    font-weight: bolder;
    color: rgb(125, 127, 129);
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 32px;
}

.btn-contact {
    color: rgb(181, 170, 158);
    border: 1px solid rgb(181, 170, 158);
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-contact:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(203, 184, 163);
    border: none;
}

.main-list {
    display: flex;
}

.main-list div {
    flex: auto;
}
